root = false

[*.lua]
indent_style = tab
indent_size = 2
max_line_length = 80

[*.vim]
indent_style = space
indent_size = 2
max_line_length = 80

[*.js]
indent_style = space
indent_size = 2
max_line_length = 80
