tmux/plugins/*
config/nvim/autoload/plug.vim
config/nvim/autoload/plug.old
config/nvim/autoload/plug.vim.old
config/nvim/plugged/*
config/nvim/spell/*.spl
config/nvim/sessions/*
config/nvim/.netrwhist
fish/fishd.*
fish/fish_history
.vscode/
.mypy_cache/
config/kitty/colors.conf
config/kitty/local.conf
config/direnv/allow
.tool-versions
