tmux/plugins/*
config/nvim/lua/packer_compiled.lua
config/nvim/spell/*.spl
config/nvim/sessions/*
config/nvim/.netrwhist
fish/fishd.*
fish/fish_history
.vscode/
.mypy_cache/
config/kitty/colors.conf
config/kitty/local.conf
config/direnv/allow
.tool-versions
