<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>local.kitty-session-saver</string>

    <key>StartInterval</key>
    <integer>300</integer>

    <key>ProgramArguments</key>
    <array>
      <string>/bin/zsh</string>
      <string>-c</string>
      <string>~/.dotfiles/bin/kitty_save</string>
    </array>

    <key>StandardErrorPath</key>
    <string>/tmp/local.kitty-session-saver/stderr.log</string>

    <key>StandardOutPath</key>
    <string>/tmp/local.kitty-session-saver/stdout.log</string>
  </dict>
</plist>
